@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');

body{
    background-color: darkgreen;
}
.grid-container{
    display:grid;
    grid-template-columns: 500px 500px;
    grid-column-gap:20px;
    grid-row-gap: 20px;
    justify-content: center;
}


.div-border{
    padding: 10px 10px 10px 10px;;
    text-align: center;
}

#sub-grid{
    display: grid;
    grid-template-columns: 156px 200px;
}
.inline-select{
    display:inline;
}

/* #weatherAPI #app-alarm{
    padding:0;
    margin: 0;
    box-sizing: border-box;
} */

