.grid-container{
    display:grid;
    grid-template-columns: 356px 356px 356px;
    grid-column-gap:20px;
    grid-row-gap: 20px;
    align-content: space-evenly;
}

.div-border{
    position: relative;
    border-style: solid;
    border-width: 2px;
    padding: 0 0 3px 3px;;
    height:280px;
}

#sub-grid{
    display: grid;
    grid-template-columns: 156px 200px;
}
.inline-select{
    display:inline;
}
